.button1 { 
  color: black; 
  border: 1px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  color: black; 
  border: 1px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
.button3 {
  color: black; 
  border: 1px solid #D3D3D3;
}

.button3:hover {
  background-color: #D3D3D3;
  color: white;
}
img{
  border: solid 2px;
  height: 20px;
  width: 20px;
}
