.button1 { 
  color: black; 
  border: 1px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  color: black; 
  border: 1px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
